@media (max-width: 992px) {
    .main-container {
        padding: 20px;
        max-width: 90%;
    }   

    #output {
        width: 440px;
        height: 200px;
    }

    .child-container {
        gap: 25px;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .main-container {
        max-width: 85vw;
        padding: 30px 40px;
    }

    .child-container {
        gap: 40px;
        flex-wrap: wrap;
    }

    .menu-item input,
    .menu-item select {
        width: 260px;
    }

    #output {
        width: 500px;
        height: 250px;
    }
}